.rvbutton {
    background-color:#C2C2C2;
    border:1px solid #FFFFFF;
    display:inline-block;
    color:#303030;
    font-size:100%
    font-family:inherit;
    text-decoration:none;
}
.rvbutton:hover {
    background-color:#C2C2C2;
}
.rvbutton:active {
    position:relative;
    top:1px;
}


